:root {
  --blue-1: #e3f2fd;
  --blue-2: #2196f3;
  --blue-3: #1976d2;

  --red-1: #ffebee;
  --red-2: #f44336;
  --red-3: #d32f2f;

  --light-1: #ffffff;
  --light-2: #f7f7f7;
  --light-3: #e7e7e7;

  --black-1: #727272;
  --black-2: #3a3a3a;
  --black-3: #0c0c0c;


  --margin: 0;
  --padding: 0;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: 10pt;
  --line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  box-sizing: border-box;
}

::selection {
  background: var(--black-2);
  color: var(--light-1);
}

@page {
  margin: 0;
}

html {
  background: var(--light-2);
}

[contenteditable]:focus,
[contenteditable]:hover {
  outline: 2mm solid var(--light-2);
  background: var(--light-3);
}

@media print {
  html {
    background: var(--light-1);
  }

  html,
  body {
    width: 210mm;
    height: 100%;
    overflow: hidden;
  }

  [contenteditable] {
    background: none;
    outline: 0;
  }

  .no-print {
    display: none;
  }
}